.interactive {
  min-height: 75vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  font-weight: 900;
  color: white;
}

.hit {
  background-color: green;
}

.eliminated {
  background-color: red;
}

.progress {
  height: 100px;
}